@import "../fonts/stylesheet.css";

.machine-body {
    width: 315px;
    height: 520px;
    margin: 0 auto;
    background: #ababab;
    padding: 20px 6px 0 6px;
    border-top-left-radius: 10% 5%;
    border-top-right-radius: 10% 5%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;

    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.25),
    0 0 1px 2px rgba(0, 0, 0, 0.25),
    0 2px 3px 1px rgba(0, 0, 0, 0.5);


    background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.machine-body .trademark{
    display: inline-block;
    line-height: 50px;
}

.machine-body .trademark img{
    vertical-align: middle;

}


.machine-body .top-part .solar-panel .solar-description{
    font-size: 9px;
    text-align: center;
}

.machine-body .top-part .solar-panel {
    float: right;
    width: 134px;
    height: 90px;
    margin-right: 20px;
}
.machine-body .top-part .solar-panel .solar-cells-block {
    width: 100%;
    background: #000;
    overflow: hidden;
    border: 4px #525252;
    border-style: ridge;
    box-shadow: inset 0 3px 3px black;
    border-radius: 6px;
    height: 40px;


}
.machine-body .top-part .solar-panel .solar-cells-block .solar-cells-item{
    float: left;
    width: calc(20% - 1px);
    border-right: 1px solid rgba(255, 0, 0, 0.4);
    height: 40px;
}



.machine-body .screen-panel .screen-frame .led-screen{
    width: 92%;
    position: relative;
    overflow: hidden;
    height: 70px;
    padding: 17px 17px 11px 7px;
    border-radius: 4px;
    box-shadow: 0 2px 3px 3px rgba(255, 255, 255, 0.3), -1px -3px 1px 3px rgba(0, 0, 0, 0.55);
    background: #D8E0E3;
    background: linear-gradient( to bottom,#c3ced0 30%, #DBE2EA 100%);
    text-align: right;
}

.machine-body .screen-panel .screen-frame .led-screen .right-part {

    font-family: 'Digital dream';
    font-size: 40px;
}

.machine-body .row-buttons{
    width: 100%;
    display: inline-block;
}

.machine-body .row-buttons .model-no{

    margin: 17px 30px;
    display: inline-block;
}

.machine-body .row-buttons .model-no span{
    font-size: 12px;
}

.machine-body .column-buttons{
    display: inline-grid;
    float: right;
}

.machine-body .column-buttons.t-2{
    display: inline-grid;
    float: left;
}

.machine-body .number-buttons{
    width: 60%;
    display: inline-block;
}

.machine-body .btn-block{
    float: right;
}

.machine-body .btn-item{
    display: inline-block;
    position: relative;
    width: 55px;
    padding: 6px 4px;
}

button{
    position: relative;
    z-index: 5;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: white;
    background: #383840;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(50%, #404040),to(#303030));
    background: -webkit-linear-gradient(top,#404040 50%,#303030 100%);
    background: -o-linear-gradient(top,#404040 50%,#303030 100%);
    background: linear-gradient(to bottom,#404040 50%,#303030 100%);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1), 0px 0px 0px 1px rgba(0,0,0,0.8), inset 1px 0px 1px 0px rgba(0,0,0,0.3), inset -1px 0px 1px 0px rgba(0,0,0,0.3), inset 0px 1px 1px 0px rgba(255,255,255,0.4), inset 0px -3px 3px rgba(255,255,255,0.1), 0px 8px 10px 0px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1), 0px 0px 0px 1px rgba(0,0,0,0.8), inset 1px 0px 1px 0px rgba(0,0,0,0.3), inset -1px 0px 1px 0px rgba(0,0,0,0.3), inset 0px 1px 1px 0px rgba(255,255,255,0.4), inset 0px -3px 3px rgba(255,255,255,0.1), 0px 8px 10px 0px rgba(0, 0, 0, .3);
    border: 1px solid #0B0C10;
    border-radius: 6px 6px 12px 12px;
    -webkit-appearance: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    outline: none;
    text-shadow: 2px 3px 1px rgba(0,0,0,0.3);
}

.keypad-button.t-2{
    height: 92px;
}

.keypad-button-reset{
    background: linear-gradient(to bottom,#975265 50%,#843A4F 100%);
}


.btn-item.t-2:before{
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    height: 28px;
    width: 6px;
    top: 10px;
    left: -1px;
    -webkit-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    transform: skewX(3deg);
    border-radius: 6px 0px 6px 9px;
    border: 2px solid #0B0C10;
    background: linear-gradient(to bottom,#404040 60%,#5E6474 100%);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
}

.btn-item.t-2:after{
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    height: 28px;
    width: 6px;
    top: 10px;
    border: 2px solid #0B0C10;
    background: #404040;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(60%, #404040),to(#5E6474));
    background: -webkit-linear-gradient(top,#404040 60%,#5E6474 100%);
    background: -o-linear-gradient(top,#404040 60%,#5E6474 100%);
    background: linear-gradient(to bottom,#404040 60%,#5E6474 100%);
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3);
    left: auto;
    right: -1px;
    border-radius: 0px 6px 6px 9px;
    -webkit-transform: skewX(-3deg);
    -ms-transform: skewX(-3deg);
    transform: skewX(-3deg);
}

.btn-item.t-2 .turn-on-desc{
    font-size: 12px;
    left: 17px;
    position: relative;
    font-weight: bold;
}

